<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
    <link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
</head>
<style>
    body{
        font-size: 12px;
        font-family: Arial;
    }

    nav.top{
        background-color: #f2f2f2;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom:1px solid #e7e7e7;
    }

    .redColor{
        color:#C40000 !important;
    }

    a{
        color:#999;
    }

    nav.top span, nav.top a{
        color:#999;
        margin: 0px 10px 0px 10px;
    }

    nav.top a:hover{
        color:#C40000;
    }
</style>
<body>
<nav class="top">
    <a href="#">
        <span class="glyphicon glyphicon glyphicon-home redColor"></span>
        天猫首页
    </a>
    <span>喵，欢迎来天猫</span>
    <a href="#">请登录</a>
    <a href="#">免费注册</a>
    <span class="pull-right">
        <a href="#">我的订单</a>
        <a href="#">
            <span class="glyphicon glyphicon-shopping-cart redColor"></span>
            购物车</a>
    </span>

</nav>
</body>
</html>